.app {
    padding: 20px;
    background-color: #2b2d2f;
    min-width: 100vw;
    min-height: 100vw;

    .error-message {
        color: #ff0000;
        font-size: 20px;
        font-weight: bold;
    }
}

