
.home-page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;


    .inputs {
        margin-left: 0;
        margin-right: 8%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .createInputs {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-style: solid;
            background-color: grey;
            padding: 1em;
            border-radius: 25px;
            width: 17em;
        }
    }

    .user-info {
        .user-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.3);
        }

        .user-name {
            font-size: 30px;
            margin-bottom: 20px;
            max-width: 500px;
            text-align: center;
        }
    }

    .button {
        margin: 20px;
        font-size: 20px;
        border-radius: 20px;
        background-color: #1ed660;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        min-width: 200px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }

    .artist {

        display: flex;
        flex-direction: column;
        align-items: center;


        .smallButton {
            margin: 10px;
            font-size: 15px;
            border-radius: 20px;
            background-color: #1ed660;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            min-width: 30px;
            //max-width: 40px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
        }

    }

    .playlistLength {
        display: flex;
        margin-top: 10px;
    }





    .playlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
        height: 70em;
        width: 30em;
    }

    .tracks {
        display: flex;
        flex-direction: row;
        width: 50%;
        height: 7%;
        border-style: solid;
        border-radius: 20px;
        border-color:#1ed660;
        color: white;
        background-color: gray;
        overflow: hide;

        .trackInfo {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: flex-start;
            font-size: 12px;
            .Name {
                flex-basis: 20%;
                overflow: hidden;
            }
        }
    }

    .savePlaylist {
        border-style: solid;
        background-color: grey;
        padding: 1em;
        border-radius: 25px;
        margin-top: 10%;
        width: 17em;

        .spform {
            display: flex;
            flex-direction: column;
            input {
                margin-top: 20px;
                border-radius: 5px;
            }
        }


    }



    .thumbnail {
        width: 75px;
        height: 75px;
        border-radius: 50px;
    }
}