
.home-page {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #2b2d2f;
    height: 100%;
    width: 100%;

    .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #E1D9D1;

        .createInputs {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 1em;
            border-radius: 25px;
            width: 17em;
        }
    }

    .user-info {
        .user-image {
            width: 200px;
            height: 200px;
            object-fit: cover;
            margin-bottom: 20px;
            border-radius: 50%;
            box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.3);
        }

        .user-name {
            font-size: 30px;
            margin-bottom: 20px;
            max-width: 500px;
            text-align: center;
        }
    }

    .button {
        margin: 20px;
        font-size: 20px;
        border-radius: 20px;
        background-color: #1ed660;
        color: #ffffff;
        padding: 10px 20px;
        border: none;
        min-width: 225px;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
    }

    .artist {
        display: flex;
        flex-direction: column;
        color: #E1D9D1;
        .smallButton {
            margin: 10px;
            font-size: 15px;
            border-radius: 20px;
            background-color: #1ed660;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            min-width: 30px;
            cursor: pointer;
            text-align: center;
            font-weight: bold;
        }

    }

    .features {
        display: flex;
        flex-direction: column;
        input {
            flex-basis: 10px;
        }
    }

    .playlistLength {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .listLabel {
        display: flex;
        flex-direction: row;

    }


    .labels {
        display: flex;
        color: grey;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        justify-content: flex-start;
        width: 650px;
        margin-bottom: 10px;
        .bothNames {
            width: 400px;
        }
        .Name {
            //font-weight: 800;
            flex-basis: 50%;
        }

        .empty {
            width: 70px;
            margin-left: 7px;
            margin-bottom: 5px;
            padding-right: 5px;
        }

        div {
            margin-left: 7px;
            flex-basis: 200px;
        }

    }


    .playlist {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5%;
        height: 100%;
    }


    .tracks {
        display: flex;
        flex-direction: column;

        color: white;
        :hover {
            background-color: grey;
        }
        .trackInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            justify-content: flex-start;
            width: 650px;
            .bothNames {
                width: 400px;
            }
            .Name {
                font-weight: 800;
                flex-basis: 50%;
            }

            .thumbnail {
                width: 75px;
                height: 60px;
                margin-bottom: 5px;
            }

            div {
                margin-left: 7px;
                flex-basis: 200px;
            }



        }
    }

    .savePlaylist {

        padding: 1em;
        border-radius: 25px;
        margin-top: 10%;
        width: 17em;

        .spform {
            display: flex;
            flex-direction: column;
            input {
                margin-top: 15px;

            }
        }


    }




}